.swiper-container{
    background: #343434;
    width: 78vw;
}
.swiper-wrapper .swiper-slide{
    width: 149px;
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-top: 15px;   
}
.swiper-slide p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
